.enveloppe {
  background-color: #ADEB7D;
  padding-left: 0;
}

.ligne {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 5px solid darkgray;
  padding-top: 10px;
  padding-bottom: 10px;

  &:first-of-type {
    border-top: 5px solid darkgray;
  }
}
.troupeau-infos {
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: baseline;
  justify-content: space-between;
}

.ede {
  text-align: end;
  font-size: 0.85rem;
}
.bsa, .vso {
  padding-left: 5%;
  display: grid;
  grid-template-columns: 15% 37% 10% 18%;
  justify-content: space-between;
  align-items: center;
}
.bsa-nom, .vso-nom {
  font-size: 1.1rem;
}

.input_date {
  font-size: 1.5em;
  border: none;
  background: #88C856;
}

a.lien-bsa > img, a.lien-vs >img {
  max-width: 75%;
}

.pdf_ps {
  height: 30px;
  min-width: 20px;
}
.pdf_ps_gris {
  filter: grayscale(100%) brightness(2);
}

.lien-inactif {
  pointer-events: none;
}

// preloader
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #ededed;
}

.loader {
  position: fixed;
  top: 100px;
  left: calc(50% - 100px);
  width: 200px;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay:  -0.45s;
          animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
////////////////////////////////////////////////////////////

@media screen and (min-width: 991.98px) {

  .ligne {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .troupeau-infos {
    display: grid;
    grid-template-columns: auto 20%;
  }

  .bsa, .vso {
    border-left: 5px solid lightgrey;
  }
  .user-name {
    h4 {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 991.98px)
{
  .ligne {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .troupeau-infos {
    display: flex;
    flex-direction: column;
  }

  .bsa, .vso {
    grid-template-columns: 50%  50%;
    border-left: 5px solid lightgrey;
  }
  .icone-ps, .icone-remarque {
    text-align: start;
  }
  .bsa, .vso {
    justify-item: baseline;
    grid-template-columns: 30% 70%;
  }
  .bsa-date, .vso-date {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-items: center;
  }
  a.lien-bsa > img, a.lien-vs >img {
    max-height: 60px;
  }
}
