.ligne-entete {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.analyse-bsps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}
.carte {
  background: lightgrey;
  width: 47.5%;
  margin-bottom: 5px;
}
.carte-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: $gris-icone;
}
.carte-titre-texte {
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  h5 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}
.carte-titre-icone {
  width: 50px;
}
.carte-main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  :first-child {
    height: 40px;
  }
  :nth-child(2n) {
    font-style: italic;
    font-weight: bold;
  }
  .carte-bouton {
    margin: 20px 5% 5px 40%;
  }
}
.carte-param {
  width: 90%;
  margin: auto;
}

a:hover img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.centrer {
  margin: auto;
}
.icone-OA {
  background: url('/medias/icones/OA.svg') no-repeat;
  background-size: contain;
}
.icone-OL {
  background: url('/medias/icones/OL.svg') no-repeat;
  background-size: contain;
}
.icone-VA {
  background: url('/medias/icones/VA.svg') no-repeat;
  background-size: contain;
}
.icone-VL {
  background: url('/medias/icones/VL.svg') no-repeat;
  background-size: contain;
}
.icone-CP {
  background: url('/medias/icones/CP.svg') no-repeat;
  background-size: contain;
}
.icone-PC {
  background: url('/medias/icones/PC.svg') no-repeat;
  background-size: contain;
}
.icone-VO {
  background: url('/medias/icones/VO.svg') no-repeat;
  background-size: contain;
}

.petite_icone {
    height: 20px;
}
.moyenne-icone {
  height: 50px;
}
.important {
  background: url('/medias/icones/important.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
.pasImportant {
  background: url('/medias/icones/pasImportant.svg') no-repeat;
  background-size: contain;
  background-position: center;
}


.zero-marge{
  margin: 0;
}
.panneau {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}
.bouton-voir-troupeau {
  margin: 10px;
  align-self: flex-end;
}

.card-troupeau {
  width: 100%;
}
.card-title {
  margin-left: 10px;
}

.card-troupeau-admin {
  background:lightgrey;
}
.sceau {
  background: lightgrey;
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  grid-template-rows: 50px 1fr;

  img {
    grid-row: 1; grid-column: 1;
  }
  h5 {
    margin-bottom: 0;
    grid-row: 1; grid-column: 2 / span 3;
    text-align: center;
    line-height: -moz-block-height;
    background: $gris-icone;
  }
  h6 {
    grid-row: 3; grid-column: 2;
  }
  .lien-ps-ana {
    grid-row: 2; grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15px;
    p {
      flex-grow: 1;
    }
  }

}


.btn-sceau {
  margin: auto;
}
@media screen and (max-width:462px) {
  .analyse-bsps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .carte {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .carte-param {
    width: 100%;
  }
}

@media screen  and (max-width: 575.98px)
{

  .panneau {
    grid-template-columns: 1fr;
  }
  .mini-card {
    padding-left: 1px;
    padding-right: 1px;
  }
  .mini-card > img {
    margin-left: -1px;
    width: 50px;
    margin: 5px;
  }
  .sceau {
    h5 {
      font-weight: bold;
    }
    .lien-ps-ana {
      margin: 15px 0;
    }
    .btn-sceau {
      font-size: 1em;
      padding: 0.1em 0.75em;
      margin: auto;
    }
  }
}

@media screen and (min-width:768px) {
  .carte-param {
    max-width: 60%;
  }
}

@media screen and (min-width:992px) {
  .card-troupeau {
    width: 80%;
  }
}
