.ligne-entete {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.analyse-bsps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.carte {
  background: lightgrey;
  width: 47.5%;
}
.carte-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: $gris-icone;
}
.carte-titre-texte {
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  h5 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}
.carte-titre-icone {
  width: 50px;
}
.carte-main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  :first-child {
    height: 40px;
  }
  :nth-child(2n) {
    font-style: italic;
    font-weight: bold;
  }
  .carte-bouton {
    margin: 20px 5% 5px 40%;
  }
}
.carte-param {
  width: 90%;
  margin: auto;
}

a:hover img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.centrer {
  margin: auto;
}
.icone-OA {
  background: url('/medias/icones/OA.svg') no-repeat;
  background-size: contain;
}
.icone-OL {
  background: url('/medias/icones/OL.svg') no-repeat;
  background-size: contain;
}
.icone-VA {
  background: url('/medias/icones/VA.svg') no-repeat;
  background-size: contain;
}
.icone-VL {
  background: url('/medias/icones/VL.svg') no-repeat;
  background-size: contain;
}
.icone-CP {
  background: url('/medias/icones/CP.svg') no-repeat;
  background-size: contain;
}
.icone-PC {
  background: url('/medias/icones/PC.svg') no-repeat;
  background-size: contain;
}
.icone-VO {
  background: url('/medias/icones/VO.svg') no-repeat;
  background-size: contain;
}

.petite_icone {
    height: 20px;
}
.moyenne-icone {
  height: 50px;
}
.important {
  background: url('/medias/icones/important.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
.pasImportant {
  background: url('/medias/icones/pasImportant.svg') no-repeat;
  background-size: contain;
  background-position: center;
}


.zero-marge{
  margin: 0;
}
.panneau {
    padding: 15px;
}
.card-troupeau {
  max-width: 48%;
}

.card-troupeau-admin {
  background:lightgrey;
}
.mini-card {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  img {
    margin-left: -5px;
  }
}
.btn-sceau {
  margin: auto;
}
@media screen and (max-width:462px) {
  .analyse-bsps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .carte {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .carte-param {
    width: 100%;
  }
}

@media screen  and (max-width: 575.98px)
{

  .panneau {
    padding-left: 0;
    padding-right: 0;
  }
  .mini-card {
    padding-left: 1px;
    padding-right: 1px;
  }
  .mini-card > img {
    margin-left: -1px;
    width: 50px;
  }
  .sceau {
    min-width: 100%;
    max-height: 50px;
  }
  .btn-sceau {
    font-size: 1em;
    padding: 0.1em 0.75em;
    margin: auto;
  }
}

@media screen and (min-width:768px) {
  .carte-param {
    max-width: 60%;
  }
}
