@font-face {
    font-family: "din";
    font-style: normal;
    src: url('../fonts/din/DINPRO-REGULAR.OTF');
}
@font-face {
    font-family: "din";
    font-style: italic;
    src: url('../fonts/din/DINPro-Italic.otf');
}
@font-face {
    font-family: "din";
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/din/DINPRO-LIGHT.OTF');
}
@font-face {
    font-family: "din";
    font-weight: bold;
    src: url('../fonts/din/DINPRO-BOLD.OTF');
}
