.float {
	height: 50px;
	width: 50px;
	border-radius: 100%;
  box-shadow: 3px 3px 5px grey;
	background: url('../medias/icones/plus_rond.svg') no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.ajouter_note {
	z-index: 10000;
	position: absolute;
	width: 400px;
	left: calc(50% - 200px);
	top: 40vh;
	padding: 50px;
	background: darkgreen;
	color: white;
	box-shadow: 5px 5px 10px black;
}
