$parasito-rouge: #550000ff;
$parasito-jaune: #d4b26aff;
$parasito-violet: #9775aaff;
body {
  font-family: 'din';
}

.para-fleche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .fleche {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .fleche-gauche {
    background:url("/siteAver/public/medias/parasitisme/fleche-gauche.svg") no-repeat;
    background-size: contain;
  }
  .fleche:hover {
    box-shadow: 3px 3px 10px black;
  }
  .fleche-droite {
    background:url("/siteAver/public/medias/parasitisme/menu.svg") no-repeat;
    background-size: contain;
    &:hover {
    }
  }
}

.para-container {
  margin-left: -15px;
  width: 100vw;
  height: 100vh;
  background: url("/siteAver/public/medias/parasitisme/strongle.svg") no-repeat $parasito-rouge;
  background-position: right;
  display: grid;
  grid-template-columns:5% 25% 5% 1fr 5%;
  h1 {
    color: $parasito-jaune;
    font-size: 300%;
    font-weight: bold;
  }
}

.para-container-titre {
  text-align: right;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.para-container-texte {
  color: $parasito-rouge;
  margin: 0 1rem;
  grid-column: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flou {
  filter: blur(1px);
}
.gris {
  background-color: #2c333a;
}

.para-container-soustitre {
  background: $parasito-jaune;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para-container-texte1 {
  background: $parasito-jaune;
  width: 55%;
  padding: 0.5rem;
}
.para-container-texte2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 95%;
  .para-container-texte2-texte {
    background: $parasito-jaune;
    padding: 0.5rem;
  }
  .para-container-texte2-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5rem;
    width: 240px;
    img {
      width: 240px;
    }
    p {
      color: $parasito-jaune;
      font-size: 80%;
    }
  }
  .para-container-texte2-texte {
    width: 80%;
  }
}
.para-menu {
  display: none;
  position: fixed;
  top: 20vh;
  right: 20vw;
  width: 25vw;
  height: 25vw;
  box-shadow: 3px 3px 10px black;
  background: $parasito-rouge;
  .carre {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: $parasito-violet;
    transform: rotate(-10deg);
  }
  h4, h2 {
    font-weight: lighter;
    color: $parasito-jaune;
    margin: 0;
  }
  .carre-titre {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: right;
    .fleche-bas {
      background: url("/siteAver/public/medias/parasitisme/fleche-bas.svg") no-repeat;
      background-size: contain;
      height: 50px;
    }
  }
  .carre-menu {
    position: absolute;
    top: 40%;
    left: 30%;
    h2 {
      font-size: 2.5rem !important;
    }
    h2:hover {
      font-size: 3rem;
      font-weight: bold;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .fermer {
    position: absolute;
    background: url("/siteAver/public/medias/parasitisme/fermer.svg") no-repeat;
    right: 1%;
    top: 1%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: black;
  }
}
.para-container-fiches {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 98vh;
  a {
    background-color: $parasito-rouge;
    color: $parasito-jaune;
    text-decoration: none;
    margin: 5px;
    padding: 3px;
    width: 200px;
    filter: grayscale(50%);
    transition: filter, width 1s;
  }
  a:hover {
    width: 250px;
    filter: grayscale(0%);
  }
}
.para-container-formations {
  margin:auto;
  width: 50%;
  color: $parasito-jaune;
  background: $parasito-rouge;
  filter: opacity(80%);
  img, h5 {
    filter: opacity(100%) !important;
  }
}
