
.sous-ruban {
  height: 50px;
  color: rgb($gris, $gris, $gris);
  a {
    width: 50px;
  }

  h1 {
      line-height: 3rem;
      flex-grow: 1;
      text-align: center;
  }

  @media screen and (max-width:  991.98px) {
    h1 {
      font-size: 1.25rem;
    }
  }
}
