.fond {
  background: $vert-primaire-1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50%;
}

.bandeau {
  background: $vert-primaire-4;
  color: $vert-primaire-1;
  border-radius: 0;
}
.valeur {
  font-weight: bold;
  color: $rouge-4;
}
.intitule {
  color: $rouge-3;
}
#info {
  grid-row: 2;
  grid-column: 1 / span 2;
}
#liens {
  grid-row: 1;
  grid-column: 2;
}
#eleveur {
  grid-row: 1;
  grid-column: 1;
}

#liens-contenu {
  display: flex;
  flex-direction: column;
}
.fiche_eleveur {
  margin: 10px;
  color: #870c1f;
}
.ak-troupeau {
  padding: 10px;
  color: #870c1f;
  border-top: solid 1px green;
}
.ak-infos {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ak_liste_eleveurs{
  li {
  }
}
.etiquette {
  // border: solid 1px $vert-primaire-2;
  background: $vert-primaire-2;
  margin: 5px;
  a {
    text-decoration: none;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img {
      padding: 0 15px;
      height: 50px;
    }
    h5 {
      color: $rouge-4;
    }
  }
  &:hover {
    background: $vert-primaire-4;
    h5 {
      color: $marron-1;
    }
    img {
      filter: brightness(175%);
    }
  }
}
@media screen and (max-width:991.98px) {
  .fond {
    grid-template-columns: 45% 1fr;
  }
}

@media screen and (max-width:767.98px) {
  .fond {
    grid-template-columns: 60% 1fr;
  }
}

@media screen and (max-width:575.98px) {
  .fond {
    grid-template-columns: 1fr;
  }
  #info {
    grid-row: 3;
    grid-column: 1;
  }
  #liens {
    grid-row: 2;
    grid-column: 1;
  }
  #eleveur {
    grid-row: 1;
    grid-column: 1;
  }
  .fiche_eleveur {
    h4 {
      font-size: 1.2rem;
    }
  }
}
