.analyses {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.card-analyses {
  width : 15rem;
}

.card-body-analyses {
  flex-direction: column;
  justify-content: space-between;
}

@media screen  and (max-width: 640px)
{
  .analyses {
    flex-direction: column;
    background: lightgrey;
    padding-top: 10px;
  }

  .card-analyses {
    width: 100%;
    display: grid;
    grid-template-columns: 0 1fr;
    align-items: center;
    margin-bottom: 5px;
  }

  .card-analyses:first-of-type {
    margin-top: 5px;
  }

  .card-body-analyses {
    display: grid !important;
    grid-template-columns: 50% 30% 1fr;
    padding: 1rem;
  }

  p {
    font-size: small;
    padding: 0;
    margin: 0;
  }

  .btn-analyses {
    font-size: 1em;
    padding: 0.1em 0.75em;
    margin: auto;
  }
}
