/*
Personnalisation des boutons
/* 
    Created on : 11 juin 2018, 06:12:31
    Author     : michel
*/
.btn {
  margin-top: 5px;
}
.btn-menu {
  margin-bottom: 20px;
  line-height: 2;
}
.btn-rose,.btn-outline-rose:hover {
    border: solid 1px hotpink;
    background: hotpink;
    color: white;
}
.btn-outline-rose, .btn-rose:hover{
    border: solid 1px black;
    background: white;
    color: hotpink;
}
.btn-navy,.btn-outline-navy:hover {
    border: solid 1px navy;
    background: navy;
    color: white;
}
.btn-outline-navy, .btn-navy:hover{
    border: solid 1px black;
    background: white;
    color: navy;
}
.btn-gold,.btn-outline-gold:hover {
    border: solid 1px goldenrod;
    background: goldenrod;
    color: white;
}
.btn-outline-gold, .btn-gold:hover{
    border: solid 1px black;
    background: white;
    color: goldenrod;
}
.btn-carre {
    border-radius: 0;
}