  .enveloppe {
    background-color: Moccasin;
    padding-left: 0;
  }

  .ligne {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 5px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ligne:first-of-type {
    border-top: 5px solid darkgray;
  }
  .troupeau-infos {
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: baseline;
    justify-content: space-between;
  }

  .ede {
    text-align: end;
    font-size: 0.85rem;
  }
  .bsa, .vso {
    padding-left: 5%;
    display: grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: space-between;
    align-items: baseline;
  }
  .bsa-nom, .vso-nom {
    font-size: 1.1rem;
  }

  .input_date {
    font-size: 1.5em;
    border: none;
    background: khaki;
  }

  a.lien-bsa > img, a.lien-vs >img {
    max-width: 75%;
  }

  .lien-inactif {
    pointer-events: none;
  }

@media screen and (min-width: 960px) {

  .ligne {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .troupeau-infos {
    display: grid;
    grid-template-columns: auto 20%;
  }

  .bsa, .vso {
    border-left: 5px solid lightgrey;
  }

  h4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 960px)
{
  .ligne {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .troupeau-infos {
    display: flex;
    flex-direction: column;
  }

  .bsa, .vso {
    grid-template-columns: 50%  50%;
    border-left: 5px solid lightgrey;
  }
  .icone-ps, .icone-remarque {
    text-align: start;
  }
  .bsa, .vso {
    justify-item: baseline;
    grid-template-columns: 30% 70%;
  }
  .bsa-date, .vso-date {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-items: center;
  }
  a.lien-bsa > img, a.lien-vs >img {
    max-height: 60px;
  }
}
