.ligne-entete {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.barre-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barre-item > img {
  margin-left: 2%;
}
.img-petite {
  height: 50%;
}
.img-normale {
  height: 100%;
}
a:hover img {
  filter: brightness(80%);
}
.centrer {
  margin: auto;
}
.icone-OA {
  background: url('../medias/icones/OA.svg') no-repeat;
  background-size: contain;
}
.icone-OL {
  background: url('../medias/icones/OL.svg') no-repeat;
  background-size: contain;
}
.icone-VA {
  background: url('../medias/icones/VA.svg') no-repeat;
  background-size: contain;
}
.icone-VL {
  background: url('../medias/icones/VL.svg') no-repeat;
  background-size: contain;
}
.icone-CP {
  background: url('../medias/icones/CP.svg') no-repeat;
  background-size: contain;
}
.icone-PC {
  background: url('../medias/icones/PC.svg') no-repeat;
  background-size: contain;
}
.icone-VO {
  background: url('../medias/icones/VO.svg') no-repeat;
  background-size: contain;
}

.petite_icone {
    height: 20px;
}
.moyenne-icone {
  height: 50px;
}
.important {
  background: url('../medias/icones/important.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
.pasImportant {
  background: url('../medias/icones/pasImportant.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.zero-marge{
  margin: 0;
}
.panneau {
    padding: 15px 0 15px 0;
    
}