@font-face {
    font-family: "din";
    font-style: normal;
    src: url('../font/DINPRO-REGULAR.OTF');
}
@font-face {
    font-family: "din";
    font-style: italic;
    src: url('../font/DINPro-Italic.otf');
}
@font-face {
    font-family: "din";
    font-weight: bold;
    src: url('../font/DINPRO-BOLD.OTF');
}