body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
img{
  max-width: 100%;
}

.gras {
  font-weight: bold;
}

.card-cadre {
  border: solid 1px darkgray;
  padding-left: 2%;
  padding-right: 2%;
  background: #e4e4e4;
}

.card-text {
  padding-left: 5px;
}

.centpourcent {
  width: 100%;
}

label {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 5px;
}

.btn {
  margin-top: 5px;
}
.btn-menu {
  margin-bottom: 20px;
  line-height: 2;
}

.navbar-serree {
  margin-bottom: 2px;
}

.menu-on-right {
  flex-grow: 0;
}

.espace-lg {
  padding-top: 15px
}
.espace {
  padding-top: 10px;
}
.espace-sm {
  padding-top: 5px;
}

.OA{
  color: Orange;
}

.OA_bg{
    background: Orange;
}

.VA{
  color: Red;
}

.VA_bg {
    background: Red;
}

.OL {
  color: blue;
}

.OL_bg {
    background: blue;
}

.CP {
  color: Green;
}

.CP_bg {
    background: Green;
}

.VL {
  color: SteelBlue;
}

.VL_bg {
    background: SteelBlue;
}

.PC {
    color: Pink;
}

.PC_bg{
    background: Pink;
}
.invisible {
    display: hidden ;
}
.non_affiche{
    display: none;
}