body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
img{
  max-width: 100%;
}

.gras {
  font-weight: bold;
}

.card-cadre {
  border: solid 1px darkgray;
  padding-left: 2%;
  padding-right: 2%;
  background: #e4e4e4;
}

.card-text {
  padding-left: 5px;
}

.centpourcent {
  width: 100%;
}

label {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 5px;
}

.btn {
  margin-top: 5px;
}
.btn-menu {
  margin-bottom: 20px;
  line-height: 2;
}

.navbar-serree {
  margin-bottom: 2px;
}

.menu-on-right {
  flex-grow: 0;
}

.espace-lg {
  padding-top: 15px
}
.espace {
  padding-top: 10px;
}
.espace-sm {
  padding-top: 5px;
}

.Ovin{
  color: Orange;
}

.Bovin_Allaitant{
  color: Red;
}

.Ovin_Laitier {
  color: blue;
}
.Caprin {
  color: Green;
}
.Bovin_Laitier {
  color: SteelBlue;
}
