@import url('boutons_perso.css');
@import url('fiche_troupeau.css');
@import url("couleurs_especes.css");

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
img{
  max-width: 100%;
}

.image-h{
  max-height: 100%;
}

.sous-ruban {
  height: 50px;
}

.gras {
  font-weight: bold;
}
.italique {
	font-style: italic;
}
.plus-petit {
	font-size: 80%;
}
.maigre {
  font-weight: lighter;
}
.curseur {
    cursor: pointer;
}
.lien:hover {
  background: darkgrey;
}
.lien:hover a {
  text-decoration: none;
  color: white;
}
.icone {
    opacity: 0.7;
}
.icone:hover {
    opacity: 1;
}
.pdf_download {
  background: url('../medias/icones/PDF_telecharge.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.delete {
  background: url('../medias/icones/delete.svg') no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.bordure {
  border-bottom:1px solid darkgrey;
  padding-bottom: 2px;
  padding-top: 2px;
}
.bordure:last-of-type {
  border: none;
}

.card-cadre {
  border: solid 1px darkgray;
  padding-left: 2%;
  padding-right: 2%;
  background: #e4e4e4;
}

.card-text {
  padding-left: 5px;
}

.centpourcent {
  width: 100%;
}

label {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 5px;
}

.navbar-serree {
  margin-bottom: 2px;
}

.menu-on-right {
  flex-grow: 0;
}

.espace-lg {
  padding-top: 15px
}
.espace {
  padding-top: 10px;
}
.espace-sm {
  padding-top: 5px;
}

.espace-bas{
  padding-bottom: 10px;
}
.CONV {
    color: blue;
}

.SUIV {
    color: green;
}
.SANI {
  color: orange;
}

.invisible {
    display: hidden ;
}
.non_affiche{
    display: none !important;

}
.ailleurs{
	position: absolute;
	left: -10000px;
}
