@font-face {
  font-family: "din";
  font-style: normal;
  src: url("../fonts/din/DINPRO-REGULAR.OTF");
}

@font-face {
  font-family: "din";
  font-style: italic;
  src: url("../fonts/din/DINPro-Italic.otf");
}

@font-face {
  font-family: "din";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/din/DINPRO-LIGHT.OTF");
}

@font-face {
  font-family: "din";
  font-weight: bold;
  src: url("../fonts/din/DINPRO-BOLD.OTF");
}

@font-face {
  font-family: "din";
  font-style: normal;
  src: url("../fonts/din/DINPRO-REGULAR.OTF");
}

@font-face {
  font-family: "din";
  font-style: italic;
  src: url("../fonts/din/DINPro-Italic.otf");
}

@font-face {
  font-family: "din";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/din/DINPRO-LIGHT.OTF");
}

@font-face {
  font-family: "din";
  font-weight: bold;
  src: url("../fonts/din/DINPRO-BOLD.OTF");
}

body {
  font-family: 'din';
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #d4b26aff;
}

.tech-gauche {
  grid-column: 1;
}

.tech-droite {
  grid-column: 3;
}

.tech-fleche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 2px;
}

.tech-fleche-gauche {
  background: url("../medias/parasitisme/fleche-gauche.svg") no-repeat;
  background-size: contain;
}

.fleche:hover {
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

.tech-fleche-droite {
  background: url("../medias/parasitisme/menu.svg") no-repeat;
  background-size: contain;
}

.tech-container {
  padding: 0 8px;
  background: #550000ff;
  display: grid;
  grid-template-columns: 25% 5% 1fr;
  overflow: auto;
}

.tech-container h1 {
  font-size: 300%;
  font-weight: bold;
}

.tech-container h5 {
  font-size: 1.10rem;
  background: #55000084;
  -webkit-box-shadow: 0px 0px 10px #550000ff;
          box-shadow: 0px 0px 10px #550000ff;
}

.tech-container-titre {
  text-align: right;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-container-texte {
  color: #550000ff;
  margin: 0 1rem;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-container-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
}

.tech-container-img img {
  width: 100%;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
}

.flou {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.gris {
  background-color: #2c333a;
}

.tech-container-soustitre {
  background: #d4b26aff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-container-texte1 {
  background: #d4b26aff;
  width: 55%;
  padding: 0.5rem;
  margin: 10px 0;
}

.tech-container-texte2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95%;
}

.tech-container-texte2 .tech-container-texte2-texte {
  background: #d4b26aff;
  padding: 0.5rem;
}

.tech-container-texte2 .tech-container-texte2-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0.5rem;
  width: 40%;
}

.tech-container-texte2 .tech-container-texte2-image img {
  width: 240px;
}

.tech-container-texte2 .tech-container-texte2-image p {
  color: #d4b26aff;
  font-size: 80%;
}

.tech-container-texte2 .tech-container-texte2-texte {
  width: 80%;
}

.tech-theme-titre {
  width: 100%;
  background: #d4b26aff;
}

.tech-theme-titre h1, .tech-theme-titre h2, .tech-theme-titre h3, .tech-theme-titre h4, .tech-theme-titre h5 {
  color: #550000ff;
  margin: 10px 10px;
}

.tech-theme-fiche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.tech-menu {
  display: none;
  position: fixed;
  top: 20vh;
  right: 20vw;
  width: 25vw;
  height: 25vw;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  background: #550000ff;
}

.tech-menu .carre {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #9775aaff;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.tech-menu h5, .tech-menu h4, .tech-menu h2 {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.tech-menu h4, .tech-menu h2 {
  font-weight: lighter;
  color: #d4b26aff;
  margin: 0;
}

.tech-menu .carre-titre {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.tech-menu .carre-titre .fleche-bas {
  background: url("../medias/parasitisme/fleche-bas.svg") no-repeat;
  background-size: contain;
  height: 50px;
}

.tech-menu .carre-menu {
  position: absolute;
  top: 40%;
  left: 30%;
}

.tech-menu .carre-menu a {
  white-space: nowrap;
}

.tech-menu .carre-menu h2 {
  font-size: 2.0rem;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

.tech-menu .carre-menu h2:hover {
  font-size: 3rem;
  font-weight: bold;
}

.tech-menu .carre-menu a:hover {
  text-decoration: none;
}

.tech-menu .fermer {
  position: absolute;
  background: url("../medias/parasitisme/fermer.svg") no-repeat;
  right: 1%;
  top: 1%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: black;
}

.tech-container-fiches {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
}

.tech-container-fiches a {
  color: #d4b26aff;
  text-decoration: none;
  margin: 5px;
  padding: 3px;
  width: 250px;
}

.tech-container-fiches a img {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-transition: width 1s, -webkit-filter;
  transition: width 1s, -webkit-filter;
  transition: filter, width 1s;
  transition: filter, width 1s, -webkit-filter;
  width: 200px;
  margin: auto;
}

.tech-container-fiches a img:hover {
  width: 250px;
  overflow: hidden;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.tech-container-formations {
  margin: auto;
  width: 50%;
  color: #d4b26aff;
  background: #550000ff;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.tech-container-formations img, .tech-container-formations h5 {
  -webkit-filter: opacity(100%) !important;
          filter: opacity(100%) !important;
}

.texte-bouton-menu {
  position: fixed;
  font-size: 1.2rem;
  right: 60px;
  top: 40vh;
  color: #d4b26aff;
}

.texte-bouton-menu .fleche-bas-droite {
  background: url("../medias/parasitisme/menu.svg") no-repeat;
  background-size: contain;
  height: 30px;
}

@media (max-width: 576px) {
  p {
    font-size: 90%;
    text-align: justify;
  }
  .tech-container {
    top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-container h1 {
    padding: 0 5px;
    font-size: 150%;
    text-align: center;
  }
  .tech-container-titre {
    position: -webkit-sticky;
    position: sticky;
    grid-row: 1;
    grid-column: 1;
    background: #550000ff;
    top: 0;
    z-index: 10000;
  }
  .tech-container-texte {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tech-container-texte .tech-container-soustitre {
    margin: 0 0 5px 0;
  }
  .tech-container-texte .tech-container-soustitre h2 {
    font-size: 150%;
  }
  .tech-container-texte .tech-container-texte1 {
    font-size: 100%;
    width: 100%;
    margin: 0 0 5px 0;
  }
  .tech-container-texte .tech-container-texte2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .tech-container-texte .tech-container-texte2 .tech-container-texte2-texte {
    width: 100%;
  }
  .tech-container-texte .tech-container-fiches {
    height: inherit;
  }
  .tech-container-texte .tech-container-fiches a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-container-texte .tech-container-fiches a h5 {
    text-align: center;
  }
  .tech-fleche .fleche-gauche {
    position: fixed;
    left: 0;
    top: 50vh;
  }
  .tech-fleche .fleche-droite {
    position: fixed;
    right: 0;
    top: 50vh;
  }
  .tech-menu {
    left: 15vw;
    top: 10vh;
    width: 70vw;
    height: 70vw;
  }
  .tech-menu .fleche-bas {
    height: 30px;
  }
  .carre-menu h2 {
    font-size: 1.8rem !important;
  }
  .tech-container-fiches {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 98vh;
  }
  .texte-bouton-menu {
    top: 50vh;
  }
  .texte-bouton-menu .fleche-bas-droite {
    display: none;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  p {
    font-size: 100%;
    text-align: justify;
  }
  .tech-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-container h1 {
    padding: 0 5px;
    font-size: 200%;
    text-align: center;
  }
  .tech-container-titre {
    grid-row: 1;
    grid-column: 1;
  }
  .tech-container-texte {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tech-container-texte .tech-container-soustitre {
    width: 100vw;
    margin: 0 0 5px 0;
  }
  .tech-container-texte .tech-container-soustitre h2 {
    font-size: 150%;
  }
  .tech-container-texte .tech-container-texte1 {
    width: 80vw;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 100%;
  }
  .tech-container-texte .tech-container-texte2 {
    width: 80vw;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-container-texte .tech-container-texte2 .tech-container-texte2-texte {
    width: 100%;
  }
  .tech-container-texte .tech-container-texte2 .tech-container-texte2-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 5px;
    width: 60vw;
  }
  .tech-container-texte .tech-container-texte2 .tech-container-texte2-image img {
    margin: 5px;
    width: 40vw;
  }
  .tech-container-texte .tech-container-texte2 .tech-container-texte2-image p {
    font-weight: bold;
    font-size: 100%;
  }
  .tech-fleche .fleche-gauche {
    position: fixed;
    left: 0;
    top: 50vh;
  }
  .tech-fleche .fleche-droite {
    position: fixed;
    right: 0;
    top: 50vh;
  }
  .tech-menu {
    left: 25vw;
    top: 10vh;
    width: 50vw;
    height: 50vw;
  }
  .tech-menu .fleche-bas {
    height: 30px;
  }
  .carre-menu h2 {
    font-size: 2rem !important;
  }
  .tech-container-fiches {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .texte-bouton-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .tech-container-texte1 {
    width: 85%;
  }
  .tech-container-texte2 {
    width: 100%;
  }
  .tech-menu {
    left: 25vw;
    top: 10vh;
    width: 40vw;
    height: 40vw;
  }
  .tech-menu .fleche-bas {
    height: 30px;
  }
  .carre-menu h2 {
    font-size: 2rem !important;
  }
  .tech-container-fiches {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#downloadButton {
  display: none;
}

body {
  background: #550000ff;
  font-family: 'din';
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.technique-global-container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.tech-gauche {
  margin-top: 10px;
  grid-column: 1;
}

.tech-fleche {
  width: 45px;
  height: 45px;
  margin: auto;
  cursor: pointer;
}

.tech-fleche-gauche {
  background: url("../medias/technique/fleche-gauche.svg") no-repeat;
  background-size: contain;
}

.tech-droite {
  margin-top: 10px;
  grid-column: 3;
}

.tech-fleche-droite {
  background: url("../medias/technique/menu.svg") no-repeat;
  background-size: contain;
}

.tech-container-boules {
  grid-column: 2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tech-cube {
  width: calc(20vw + 150px);
  display: grid;
  grid-template-columns: 20vw 1fr;
  margin: 0 20px;
}

.tech-autour {
  min-width: 100px;
  min-height: 100px;
  width: 20vw;
  height: 20vw;
}

.tech-icone {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
  -webkit-animation: pulse 5s ease-out infinite;
          animation: pulse 5s ease-out infinite;
  cursor: pointer;
}

.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 2;
}

.ball:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.ball:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-45%) translateY(-45%) skewX(-20deg);
          transform: translateX(-45%) translateY(-45%) skewX(-20deg);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.tech-rond {
  width: 80%;
  height: 80%;
}

.tech-rond-texte {
  position: absolute;
  text-align: center;
  color: white;
}

.tech-sousmenu {
  color: #d4b26aff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

.tech-sousmenu h4 {
  margin: 0;
}

.tech-intitule {
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 5px;
  cursor: pointer;
  overflow: visible;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.tech-intitule:hover {
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .tech-container-boules {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 0 0 10px;
  }
  .tech-cube {
    width: calc(40vw + 150px);
    display: grid;
    grid-template-columns: 40vw 1fr;
    margin: 0 20px;
  }
  .tech-autour {
    width: 40vw;
    height: 40vw;
  }
  .tech-sousmenu h1 {
    font-size: 100%;
    margin: 0;
  }
  .tech-sousmenu h4 {
    font-size: 80%;
  }
  .tech-rond:hover > .tech-sousmenu {
    border-left: 1px solid white;
    color: white;
    visibility: visible;
  }
}
