/*
déinit les couleurs liées aux especes*/
/* 
    Created on : 11 juin 2018, 06:05:53
    Author     : michel
*/
.OA{ color: Orange;}

.OA_bg{ background: Orange;}

.VA{ color: Red;}

.VA_bg { background: Red;}

.OL { color: blue;}

.OL_bg { background: blue;}

.CP { color: Green;}

.CP_bg { background: Green;}

.VL { color: SteelBlue;}

.VL_bg { background: SteelBlue;}

.PC { color: Pink;}

.PC_bg{ background: Pink;}

