@font-face {
    font-family: "din";
    font-style: normal;
    src: url('../../fonts/din/DINPRO-REGULAR.OTF');
}
@font-face {
    font-family: "din";
    font-style: italic;
    src: url('../../fonts/din/DINPro-Italic.otf');
}
@font-face {
    font-family: "din";
    font-weight: bold;
    src: url('../../fonts/din/DINPRO-BOLD.OTF');
}

html{
	font-family: "din";
	font-size: 100%;
}
body {
	background-color: grey;
}

#trait {
	display: none;
	position: fixed;
	width: 80%;
	top:30%;
	left: 10%;
	border-top: solid 1px white;
}
#container{
	position: fixed;
	top: 5%;
	left: 20vw;
	width: 60vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.boite {
	margin: 1%;
}
.intitule {
	color: white;
	margin-left: 10%;
	margin-top: 0;
}
.img {
	width: 15vw;
	height: 15vw;
	color: white;
}
.img:hover {
  box-shadow: 1px 3px 3px black;
}
img {
	max-width: 100%;
}
#antikor {
		cursor: pointer;
}
#connexion > form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}
input {
	width: 100%;
	padding: 5% 0 5% 0;
}
.input_attention {
	border: solid 2px red;
	background-color: pink;
}
#boutons_envoi {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: row;
	cursor: default;
}
#submit {
	width: 100%;
	height: 100%;
	background: url("../img/login.svg") no-repeat center;
	background-size: contain;
}
#direct {
	width: 100%;
	height: 100%;
	background: url("../img/direct.svg") no-repeat center;
	background-size: contain;
	cursor: pointer;
}
#direct:hover {
	background: url("../img/direct_hover.svg") no-repeat center;
	background-size: contain;
}
#bouton {
	display: none;
}
.visible {
	display: block;
}
.invisible {
	display: none;
}

a {
	text-decoration: none;
	color: white;
}
@media screen and (max-width:768px) {
  
}
@media (max-width: 576px){
	#container{
		flex-flow: row wrap;
		justify-content: space-between;
		top: 5%;
		left: 5%;
		height: 90vh;
		width: 90%;
	}

	#trait{
		display: none;
	}
	.boite{
    margin: 10px;
	}
	.boite > a {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
  .intitule {
    margin-left: 0;
  }
	.img {
		padding: 0;
		width: 35vw;
    height: 35vw;
	}
  .img:hover {
    width: 36vw;
  }
	.img_grande {
		width: 50vw;
		height: 50vw;
	}
	.antikor_grand {
		position: fixed;
		top: 0vh;
		left: 10vw;
		width: 80vw;
		height: 50vw;
	}
	.estompe {
		display: none;
	}
}
